* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hanken Grotesk", Arial, sans-serif;
  background-color: #262626;
  color: #D9D9D9;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
}

header {
  text-align: center;

}

header>h1 {
  font-size: 2.25rem;
  font-weight: 500;
  color: #F9F4DA
}

header>p {
  font-size: 1.25rem;
  font-weight: 300;
  color: #F9F4DA
}

section.game-status {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  background-color: #10A95B;
  border-radius: 4px;
  margin-block: 30px;
}

section.game-status.game-won {
  background-color: #10A95B;
}

section.game-status.game-lost {
  background-color: #a91010;
}

section.game-status.farewell {
  background-color: #7A5EA7;
  border: 1px dashed #323232;
}

section.game-status>h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #F9F4DA;
  margin-bottom: 10px;
}

section.game-status>p {
  font-size: 1.25rem;
  font-weight: 300;
  color: #F9F4DA;
}



section.game-languages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 36px;

}

.language-box {
  border-radius: 3px;
  padding: 4.5px;
  position: relative
}

/* Dimmed overlay with skull on "lost" languages */
.language-box.lost::before {
  content: "X";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  color: red;
  background-color: rgba(0, 0, 0, 0.7);
}


.word-array {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;

}

section.word-array>span {
  font-size: 1.5rem;
  font-weight: 500;
  color: #F9F4DA;
  margin-bottom: 10px;
  height: 40px;
  width: 40px;
  background-color: #323232;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #E9F4DA;
}

section.keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  max-width: 750px;
  margin-bottom: 20px;
}

section.keyboard>button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: black;
  background-color: #FCBA29;
  border: 1 px solid;
  border-radius: 5px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

section.keyboard>button.correct {
  background-color: #10A95B;
}

section.keyboard>button.wrong {
  background-color: #EC5D49;
}


button.new-game {
  background-color: #11B5E5;
  border: 1px solid #D7D7D7;
  border-radius: 4px;
  width: 225px;
  height: 40px;
  padding: 6px 12px;
  display: block;
  margin-inline: auto;
  cursor: pointer;
}